body {
  background:#444;
}

/* HEADER */

#hd {
  background:#bbb;
}

#user-bar-greeting {
  float:left;
}

#user-bar-action {
  float:right;
  text-align:right;
}

/* MENUS */

ul#menu
{
  clear:both;
  margin:0;
  padding:0;
  height:30px;
  font-weight:bold;
  border-bottom:1px solid #000;
  border-top:1px solid #000;
}

ul#menu li
{
  display:block;
  float:left;
  padding:8px 20px 0 20px;
  color:#444;
}

ul#menu li a
{
  text-decoration:none;
  color:#777;
}

ul#menu li a:hover
{ 
  color:#fff;
}

/* MAIN */

#bd {
  background:#fff;
}

/* FOOTER */

#ft { 
  background:#777; 
  height:4em;
} 

#ft p {
  padding: 7px 0;
  text-align: center;
}
.content {
  margin: 1em;
}

/* MISC */

.centered {
  text-align: center;
}

.clearer {
  clear: both;
}

.right {
  text-align: right;
}

DL DT, DL DD {
  float: left;
  margin-bottom: 0.5em;
}

DL DT {
  clear: both;
  width: 10em;
}

DL:after {
  display: block;
  content: "";
  clear: both;
}

UL.actions {
  margin: 0px;
}

UL.actions LI {
  display: inline;
}

UL.actions LI:before {
  content: " | ";
}

UL.actions LI:first-child:before {
  content: "";
}

LABEL {
  display: block;
  float: left;
  width: 15em;
  text-align: right;
  padding-right: 1em;
}

/* FORMS */

FORM UL LABEL {
  float: none;
  display: inline;
}

FORM UL {
  list-style: none;
}

FORM DIV {
  margin-bottom: 0.5em;
  clear: both;
}

FORM DIV.radio, FORM DIV.choices, FORM DIV.buttons {
  margin: 1.25em 0em 2em 16em;
}

FORM DIV.choices {
  position: relative;
  top: -1.5em;
  margin-bottom: -1em;
}

FORM DIV.choices BR {
  clear: both;
}

FORM DIV.radio INPUT, FORM DIV.choices INPUT {
  float: left;
}

FORM DIV.radio LABEL, FORM DIV.choices LABEL {
  display: inline;
  float: none;
  margin: 0.5em;
}

FIELDSET {
  padding: 0.5em;
}
