<h1>Forgot Password</h1>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<%= form_tag account_password_resets_path do %>
  <div>
    <label>Email:</label>
    <%= text_field_tag "email" %>
  </div>
  <div class="actions">
    <%= submit_tag "Reset my password" %>
  </div>
<% end %>
