@import "config";

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*
	Style overrides for IE6-8
	http://jonikorpi.com/leaving-old-IE-behind/
*/

.ie {
	
}


@mixin rounded($v, $h, $radius: 10px) {
  border-#{$v + '-' + $h}-radius: $radius;
  -moz-border-radius-#{$v + $h}: $radius;
  -webkit-border-#{$v + '-' + $h}-radius: $radius;
}

/* MAJOR SECTIONS */

body {
	font-size: $font-size / $em;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}

#masthead {
  margin-top: 8px / $em;
}

$menu-height: 2em;

#menu {
  clear: both;
  background: #000000;
  height: $menu-height;
  ul {
    list-style: none;
    margin: 0;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: none;
      left: 0;
      position: absolute;
      top: $menu-height;
      width: 5*$menu-height;
      z-index: 99999;
      padding: 0;
      li {
        min-width: 5*$menu-height;
        background: #333333;
      }
      ul {
        left: 100%;
        top: 0;
      }
      a {
        height: auto;
        line-height: 1em;
        padding: 0.25*$menu-height;
        width: 4.5*$menu-height;
      }
    }
  }
  li {
    float: left;
    position: relative;
    &:hover {
      background: #333333;
    }
    &:hover > ul {
      display: block;
    }
  }
  a {
    color: #AAAAAA;
    display: block;
    line-height: $menu-height;
    padding: 0 0.25*$menu-height;
    text-decoration: none;
    &:hover {
      color: #FFFFFF
    }
  }
  span {
    color: #FFFFFF;
    display: block;
    line-height: $menu-height;
    padding: 0 0.25*$menu-height;
  }
}

#main {
  clear: both;
}

footer {
  margin-top: 1em;
  color:#111;
  a { color:#999; }
}

/* FORMS */

.field {
  label {
    display: inline-block;
    width: 12em;
    text-align: right;
    padding-right: 1em;
  }
  select {
    max-width: 100%;
  }
  input, textarea {
    border: 1px solid #BBB;
    margin: 0.3em 0;
  }
  input {
    height: 1.2em;
  }
  margin-bottom: 0.2em
}

div.required label {
  padding-right: 0.5em;
  margin-right: 0.5em;
  background: url("/assets/red_dot.gif") no-repeat 100% 50%;
}

div.actions {
  margin: 1em 1em 1em 13em;
}

.field_with_errors {
  padding: 2px/$em 0;
  background-color: red;
  display: inline-block;
}

#error_explanation {
  width: 94%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 1em;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    padding-left: 1em;
    li {
      font-size: 75%;
      list-style: square;
    }
  }
}

/* MISC */

.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
.center {
  text-align: center;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
