@import 'bootstrap/scss/bootstrap';

/* Alerts */

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-warning;
}

/* Form styles */

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

/* Sticky footer styles */

$margin-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $margin-height;
}

body > .container {
  padding: 60px 15px 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $margin-height;
  background-color: #f5f5f5;
  p {
    margin: 15px 0;
    font-size: 90%;
    color: gray;
  }
}
